@page "/Account/InvalidPasswordReset"
@layout LearnStack.Components.Account.Shared.AccountLayout

<PageTitle>Invalid password reset</PageTitle>

<h1>Invalid password reset</h1>
<p role="alert">
    The password reset link is invalid.
</p>